// Specific CSS for your home-page

body {
  background-color: $bluelagoon;
   // font, color, size...
   // background-image
  font-family: 'Do Hyeon', sans-serif;
}

h1 {
  color: white;
}

h2 {

}

p {

}
