<div class="container">
  <strong>Name:</strong>
  <h1><%= @swimming_pool.name %></h1>
  <strong>Address:</strong>
  <p><%= @swimming_pool.location %></p>
  <strong>Description:</strong>
  <p><%= @swimming_pool.description %></p>
  <strong>Price:</strong>
  <p><%= @swimming_pool.price_per_day %></p>
</div>
