<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'pool-banner.jpg' %>');">
  <div class="container">
    <h1>PoolParty</h1>
    <p>Enjoy swimming wherever you want!</p>
    <a class="btn-primary" href="#">Find your pool</a>
  </div>
</div>

<div>
  <p class="welcome-text">Welcome text</p>
</div>
