<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'pool-banner.jpg' %>');">
  <div class="container">
    <h1>PoolParty</h1>
    <p>Enjoy swimming wherever you want!</p>
<!--     <a class="btn-flat-blue" href="#">Find your pool</a> -->
<%= link_to "Find your pool", "/swimming_pools", class: "btn btn-flat-blue" %>
  </div>
</div>

<div class="welcome-text">
  <h2>Welcome to PoolParty!</h2>
  <p>The best solution to rent a pool for a day.</p>
  </br>
  <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci.</p>
</div>
