<div class="container-reservation-new">

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path 'pool-banner.jpg' %>');">
    <div class="container">
      <h1>PoolParty</h1>
      <p>Enjoy swimming wherever you want!</p>
  <!--     <a class="btn-flat-blue" href="#">Find your pool</a> -->
  <%= link_to "Find your pool", "/swimming_pools", class: "btn btn-flat-blue" %>
    </div>
  </div>

  <div class="container">
    <h2>Welcome to PoolParty!</h2>
    <p>The best solution to rent a pool for a day.</p>
    </br>
    <p>You don't have a swimming pool at home but you want to organize a pool party with your friends? You just found the service you need. With PoolParty, you can easily find a nice pool wherever you want to go in France!</p>
    <p>Just type a city name, and find the best swimming pool!</p>
  </div>

</div>
