<h1>All my swimming pools reservations</h1>

<ul>
  <% @reservations.each do |reservation| %>
    <li><%= reservation.user.name %></li>
    <li><%= reservation.swimming_pool.name %></li>
  <% end %>
</ul>
r'r
