<h1>Book now</h1>

<div class="container">
<%= simple_form_for([@swimming_pool, @reservation]) do |f| %>

  <%= f.input :starting_date, as: :date, html5: true %>
  <%= f.input :ending_date, as: :date, html5: true %>
  <%= f.submit class: "btn btn-flat-blue" %>
<% end %>

</div>

<!-- , link_to , -->
<!-- "Confirm", swimming_pool_reservations_path,  -->
