.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

#map {
  display: flex;
  position: fixed;
  top: 1px:
  right: 1px:
}
