body{
  font-family: verdana;
}
.pool-title{
  text-align: center;
  padding:1em;
  color: $lightgreen
}

.pool-image{
  height:250px;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card-deck {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
  }

.pool-card{
  border-radius: 2px;
  border:none;
  margin: 10px auto;
  justify-content: center;


  &:hover {
    box-shadow: 7px -6px 23px -2px rgba(0,0,0,0.54);
  }

  img {
    object-fit: cover;
  }
}
.pool-body{
  margin:1em 2em;
  text-align:center;
}
.pool-name{
  color: $bluelagoon;
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  margin:auto;
  &:hover {
    color: darken($bluelagoon, 10%);
  }
}

.pool-owner{
  color: $fuschia;
  font-style: italic;
}

.pool-address{

}


.card-map-index-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin: 0px;
}

@media (max-width:600px) {
  .card-deck {
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    justify-content: center;
  }
  .pool-card {
    width: 260px;
  }
}

@media (max-width:1200px) {
  .pool-card {
    width: 300px;
  }
}

