body{
  font-family: verdana;
}
.pool-title{
  // text-align: center;
  // padding:1em;
  // color: black;
}

.object-fit-cover {
  object-fit: cover;
  width: 40%;
  height: 120px;
}


.pool-image{
  height:250px;
  width: 250px;
  // height:250px;
  object-fit: cover;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.card-deck {
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 16px;
    margin-left: 10px;
  }

.pool-card {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  border-radius: 2px;
  border: none;
  margin: 0px auto;

  // justify-content: center;


  &:hover {
    box-shadow: 7px -6px 23px -2px rgba(0,0,0,0.54);
  }

  img {
    object-fit: cover;
    width: 100%;
  }
}
.pool-body{
  // margin:1em 2em;
  text-align:center;
  flex: 1 0 60%;
}
.pool-name{
  color: #04B4AE;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  margin:auto;
  &:hover {
    color: darken($bluelagoon, 10%);
  }
}

.pool-owner{
  // color: $fuschia;
  font-size: 15px;
  // font-style: italic;
  font-weight: bold;
}

.pool-address{
  font-size: 15px;
}

.index-container {
  width: 100%;
}

.card-map-index-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px;
}

.map-index-container {
  margin: 0 10px;
  display: flex;
  position: sticky;
}

.myheigh {
  height: 120px;
}


// @media (max-width:600px) {
//   .card-deck {
//     display: grid;
//     grid-template-columns: 1fr;
//     margin: auto;
//     justify-content: center;
//   }
//   .pool-card {
//     width: 260px;
//   }
// }

// @media (max-width:1200px) {
//   .pool-card {
//     width: 300px;
//   }
// }

