.welcome-text {
  margin: 50px;
  padding: 30px;
  font-size: 20px;
  color: black;
  justify: center;
  font-size: 15px;
    h2 {
      font-size: 27px;
      color: grey;
      justify-content: center;
    }
}

